html, body{
  height:100%;
}

body {
  font-family:'Nunito', sans-serif;
  //  font-family:'Roboto', sans-serif;
}

.arrive, .leave {
  border:3px solid red;
  border-radius:4px;
}

.bg-gradient-primary {
  background-color: #4e73df;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#4e73df),to(#224abe));
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table td span {
  height:36px;
  line-height:36px;
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute {
  font-size:16px;
  font-weight:normal;
}

.border-gray {
  border:1px solid rgb(206,212,218);border-radius:4px;
}

.btn-circle {
  border-radius:100%;
  color:rgb(33,37,41);
  display:inline-flex;
  width:1.5rem;
  height:1.5rem;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-circle:hover {
  background:rgb(206,212,218);
}

.btn-circle:focus, btn-circle:active {
  box-shadow:none; // controls outline of button in bootstrap after it's clicked
}

.btn-hours-disabled {
  color:rgb(233,236,239);
}

.btn-hours-disabled:hover {
  color:rgb(233,236,239);
  background:transparent;
}

.card {
  margin-bottom:1rem;
}

.card-header {
  background:rgb(248,249,252);
  color:blue;
}

.holiday-label {
  position:relative;
  padding-right:2.3rem;
  font-size:.8rem;
}

.hours-type-label {
  position:relative;
  padding-right:2rem;
  font-size:.8rem;
}

.hours-type-status {
  padding-top:.2rem;
}

.navbar-nav .nav-link {
  padding-left:1rem;
  color:rgb(206,212,218);
}

.nav-link:hover {
  color:rgb(255,255,255);
  font-weight:500;
}

.sidebar {
  color:#fff;
  position:fixed;
  min-height:100vh;
  width:10rem;
}

.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.valid {
  border:1px solid rgb(206,212,218);
}

div#content-wrapper {
  position:relative;
  left:10rem;
  width:calc(100vw - 10rem);
  overflow-x:hidden;
}

div#holiday-status {
  width:1.6rem;
  padding-top:.2rem;
}

div#wrapper {
  display:flex;
  height:100%;
  background:rgb(242,242,242);
}

@media (max-width:767px) {
  .link-text {display:none;}
  .navbar-nav .nav-link {text-align:center;padding-left:0;}
  .sidebar {width:3rem;}
  div#content-wrapper {width: calc(100vw - 3rem); left:3rem;}
}

